@page "/"

<PageTitle>Meu Curriculo</PageTitle>

<img src="https://avatars.githubusercontent.com/u/139011452?v=4" alt="Imagem do curriculo" />
<h1>Olá! Eu sou o Hugo 👋</h1>
<br />
🚀 Desenvolvedor Mobile apaixonado por tecnologia e inovação
<br />
📚 Atualmente estudando C# e Javascript e expandindo meus conhecimentos
<br />
